#pagina {
  display: grid;
  grid-template-areas:
    "presentation presentation presentation presentation" 
    "products products products products"
    "table table table announcements"
    "users statistics site-info site-info";
  gap: 20px;
  
}

@media screen and (max-width: 992px) {
  #pagina {
    grid-template-areas:
      "presentation presentation"
      "products products"
      "table announcements"
      "users statistics"
      "site-info site-info";
  }
}

@media screen and (max-width: 768px) {
  #pagina {
    grid-template-areas:
      "presentation"
      "products"
      "table"
      "announcements"
      "users"
      "statistics"
      "site-info";
    grid-template-columns: 1fr;
  }
}

#pagina>*{
  border: 2px solid black;
  padding: 1em;
}

#acasa { grid-area: presentation; }
#produse { grid-area: products; }
#orar { grid-area: table; }
#anunturi { grid-area: announcements; }
#users { grid-area: users; }
#site-info { grid-area: site-info; }
#statistics { grid-area: statistics; }