#watermark {
  display: none;
}

@media print {
    #header,
    #footer {
      break-before: page;
    }
    #nav {
      display: none !important;
    }
  
    #banner {
      position: absolute;
      top: 0;
      right: 0;
      border: 5px double black;
      width: 50%; /* Ajustați lățimea banner-ului */
      text-align: center; /* Centrare text */
      box-sizing: border-box; /* Asigurați-vă că border-ul nu afectează lățimea totală */
      padding: 5px; /* Spațiu interior pentru text */
    }
  
    img,
    iframe {
      display: none !important; /* Ascunde imaginile și iframe-urile */
    }
  
    .figcaption {
      display: none !important;
    }
  
    #link-top {
      display: none !important;
    }
  
    #grid-pagina {
      display: block; /* Afișează gridul ca un bloc */
    }
  
    /* Stilurile pentru toate linkurile */
    a {
      text-decoration: none; /* Fără subliniere */
      color: inherit; /* Păstrează culoarea textului definită pentru părintele elementului */
    }
  
    .h1 {
      position: fixed;
      align-self: center;
    }
  
    #meniu {
      text-decoration: none;
      break-after: auto;
    }
  
    #watermark {
      display: block;
      position: fixed; /* Afișează pe toate paginile */
      bottom: 0;
      right: 0;
      width: 60%; /* Lățime de 100% din lățimea paginii */
      height: 10%; /* Înălțime automată */
      text-align: center; /* Centrare text */
      color: rgba(0, 0, 0, 0.3); /* Culoare neagră cu opacitate de 0.3 */
      font-size: 16px; /* Ajustați dimensiunea fontului după preferință */
      line-height: 1.5; /* Spațierea între liniile de text */
      z-index: 9999; /* Asigură că watermark-ul este afișat deasupra altor elemente */
    }
    @page:right {
      margin: 1cm 2cm;
    }
  
    @page:left {
      margin: 2cm 1cm;
    }
  }
  