.stil{
    color:black;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

#articole{
    color:black;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}


.container-iframe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.taburi-iframe {
    display: flex;
    flex-direction: row;
    gap: 65px;
}
  
.taburi-iframe a {
    display: block;
    padding: 0.6em;
    background-color: yellow;
    color: black;
    text-decoration: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 0.3s ease;
    border: 1px solid black; 
    outline: 1px solid black; 
    box-shadow: 0 0 0px 5px  white inset, 0 0 10px 5px  black inset;

}


.taburi-iframe a:hover {
    background-color: gray;
    color: black;
}


  
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.5;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:3px solid grey;
  border-top: transparent;
  border-bottom: transparent;
  border-radius:50%;
}
#link-top:hover{
    opacity:1;
}
#triunghi {
    height: 0;
    width: 0;
    border-bottom: 1rem solid gray ;
    border-left: 0.9rem solid transparent;
    border-right: 0.9rem solid transparent;
    border-top: 1rem solid transparent;
    margin-left: auto;
    margin-right: auto;
  }
  #link-top:hover>#triunghi {
    border-bottom:1rem solid yellow;
    transform:translateY(-.75rem);
    transition: transform 1s ease, border-bottom 1s ease;
  }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
#orar {
    width: 100%;
    border-collapse: collapse;
}

#orar caption {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

#orar th, #orar td {
    padding: 10px;
    text-align: center;
    border: 1px solid black; 
}

#orar th {
    background-color: yellow; 
    border-bottom: 2px solid yellow; 
}

#orar tbody tr:nth-child(even) {
    box-shadow: 0 0 10px black; 
}

#orar tbody tr:nth-child(odd) {
    box-shadow: 0 0 10px black;
}

tbody tr:hover {
  background-color: yellow;
  transition: background-color 0.75s;
}


  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  #linkuri {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black; 
    transition: color 0.3s ease; 
  }
  
  #linkuri::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(231, 255, 16, 0.664); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; 
    transition: width 0.5s ease, height 0.5s ease; 
  }
  
  #linkuri:hover::before {
    width: 95%; 
    height: 80%; 
    transition: width 0.5s ease, height 0.5s ease; 
  }


  #video-vtt {
    width: 100%;
    max-width: 100%; /* Videoul nu va depăși lățimea ecranului */
    height: auto; /* Înălțimea va fi ajustată automat proporțional cu lățimea */
  }
  
  /* Stilizare pentru subtitrări */
  #captions{
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px; /* Mărimea fontului pentru textul VTT */
    white-space: pre-line; /* Permite afișarea pe mai multe rânduri */
  }

/* Text reflectat titlu */

#text-reflectat {
  position: absolute;
  left: 0;
  top: 55px;
  transform-origin: top;
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
  opacity: 0.55;
  transition: transform 0.3s, opacity 0.3s; /* Adăugăm o tranziție la hover */
}

#text {
  position: relative;
}

#text,
#text-reflectat {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

/* La hover, ajustăm transformările pentru reflexie */
#text-reflectat:hover {
  transform: rotateX(180deg) skew(-45deg) scaleY(0.8) translate(10px, -40px); /* Ajustăm transformările pentru a face reflexia mai lungă */
  opacity: 0.8; /* Mărim opacitatea la hover */
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ STIL PT HR */

#hr {
  position: relative;
  border: none;
  height: 10px;
  background: linear-gradient(30deg, black 0%, black 20%, transparent 20%, transparent 35%, black 60%, black 90%);
  border-radius: 0 0 0 5px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ stil pt duotone */

#imagine{
	position:relative;
	background-image:url("https://www.yankodesign.com/images/design_news/2023/02/auto-draft/midjourney_coldstar_helmet_2.jpg");
	background-size:cover;
	width:500px; 
	height: 500px;
	filter:brightness(200%) grayscale(200%) ;
	transition:all 2s linear;
}

#imagine:hover {
  filter: brightness(100%) grayscale(0%);
  transition: filter 2s linear;
}

#imagine:after, #imagine:before{
	content:" ";
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	transition:all 2s linear;
}


#imagine:after{
	/* background-color:rgba(112, 136, 56, 0.356); */
	mix-blend-mode:lighten;
}

#imagine:before{
	/* background-color:rgb(17, 16, 16); */
	mix-blend-mode:darken;
}