<address>
    Telefon: <a href="tel:+40729096576" id="linkuri">>0729096576</a><br>
    Adresa: <a href="https://maps.app.goo.gl/jsK1giF1RUaDkVNSA" target="ifr-video" id="linkuri">Bucuresti, Romania</a><br>
    Email: <a href="mailto:contact@magazincastimotoro.ro" id="linkuri">contact@magazincastimotoro.ro</a><br>
  </address>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d712.2180872096761!2d26.100434024395586!3d44.435780634719805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1709539388856!5m2!1sen!2sro" width="300" height="300" style="border:5px black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <p><small>Copyright &copy; <time datetime="2024-02-26">2024</time> Magazin Casti Moto</small></p>
  <hr id="hr">
  <h5>freestyle</h5>
  <a href="#" id="link-top"><div id="triunghi"></div></a><br>
  <a href="fisier.txt" download="salut"> Protectia Consumatorului </a> <br>
  <a href="wikipedia.com" id="linkuri">Link catre recenzii calitative</a> <br>
 
  <video id="video-vtt" controls preload="metadata" poster="/Resurse/Imagini/motociclete-poster.jpg" style="width: 100%; min-width: 320px; max-width: 800px;">

    <source src="/Resurse/videouri/motociclete.mp4" type="video/mp4">
    <source src="motociclete.webm" type="video/webm">
  
    <track src="/Resurse/videouri/SUBTITRARI/romana.vtt" srclang="ro" label="Română" default>
    <track src="/Resurse/videouri/SUBTITRARI/engleza.vtt" srclang="en" label="Engleză">

  </video>

  <div id="imagine">
  </div>



