<header>
    <h1 id="text">Magazin Casti Moto</h1>
    <h1 id="text-reflectat">Magazin Casti Moto</h1>
    <hr id="hr"><nav>
      <label id="hamburger" for="ch-menu" >
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu" width="50px" height="50px" id="img-hamburger">
    </label>
    <input id="ch-menu" type="checkbox">
      <ul class="meniu">  
          <li><div id="acasa"><span class="fas fa-regular fa-house"></span><a id="text-acasa">Acasa</a></div>
               <ul>
                 <li><a href="/index?tip=retete">Casti</a></li>
                 <li><a href="/index?tip=anunturi">Geci</a></li>
                 <li><a href="/index?tip=orar">Manusi</a></li>
                 <li><a href="/index?tip=produse">Ghete</a></li>
               </ul>
          </li>
          <li><a href="/index#promotii">Promotii</a>
                <ul>
                  <li><a href="/index?tip=retete">50% discount</a></li>
                  <li><a href="/index?tip=retete">30% discount</a></li>
                </ul>
          </li>
          <li><a href="/index#anunturi">Produse Vara</a>
              <ul>
                <li><a href="/produse">Toate</a></li>
                <li><a href="/index?tip=retete">Casti Integrale</a></li>
                <li><a href="/index?tip=anunturi">Casti Flip-Up</a></li>
                <li><a href="/index#orar">Casti Scuter</a></li>
                <li><a href="/index#produse">Casti reduse</a></li>
              </ul>
            </li>
          <li><a href="/inregistrare">Inregistrare</a></li>
          <li><a href="/index#orar">Orar</a></li>
          <li><a href="/index#site-info">Site Info</a></li>
          <li><a href="/cos-virtual">Cos</a></li>
          <li><a href="/index#contact">Contact</a></li>
          <%- include("../fragmente/submeniu-administrare.ejs")
          %>
          <%- include("../fragmente/submeniu-utilizator-logat.ejs")
          %>
      </ul>
    </nav>